<header class="fixed-top position-fixed w-100" xmlns:th="http://www.w3.org/1999/xhtml" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Title on the right -->
            <div class="navbar-brand d-flex justify-content-end">
                <a href="/" class="heading-link"><h3>Employee Management System</h3></a>
                <div class="p-1 ml-2">
                    <a href="/department-index">Department</a>
                    <a href="/employee-index">Employee</a>
                </div>
            </div>
            <!-- Username and Logout on the left -->
            <div class="navbar-brand">
                <!-- Username -->
                <span>Manojkumar Shinde</span>
                <!-- Logout Link -->
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</header>